version: "0.0.1"
services:
  mongodb:
    image: mongo:7
    container_name: mongodb-auth
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: yuling